albumentations==1.0.3
altair==5.5.0
antlr4-python3-runtime==4.9.3
attrs==25.3.0
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==5.5.2
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
filelock==3.13.1
fsspec==2024.6.1
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
idna==3.10
imageio==2.36.1
Jinja2==3.1.4
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
lazy_loader==0.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
mpmath==1.3.0
narwhals==1.48.1
networkx==3.3
numpy==2.1.2
omegaconf==2.3.0
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
packaging==24.2
pandas==2.3.1
pillow==11.0.0
protobuf==5.29.5
pyarrow==21.0.0
pydeck==0.9.1
Pygments==2.19.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
requests==2.32.4
rich==13.9.4
rpds-py==0.26.0
scikit-image==0.25.0
scikit-learn==1.7.1
scipy==1.15.3
six==1.17.0
smmap==5.0.2
soupsieve==2.7
streamlit==1.40.0
streamlit-drawable-canvas==0.9.3
sympy==1.13.3
tenacity==9.1.2
threadpoolctl==3.6.0
tifffile==2025.5.10
toml==0.10.2

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1

tornado==6.5.1
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.5.0
watchdog==5.0.3
